server:
  port: 8001

spring:
  application:
    name: cloud-payment-service
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mscloud?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: admin
    password: Zaq1xsw2.


mybatis:
  mapperLocations: classpath:mapper/*.xml
  type-aliases-package: com.mscloud.entities

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:7001/eureka
      # defaultZone: http://eureka7001.com:7001/eureka,http://eureka7002.com:7002/eureka  #集群版
  instance:
    instance-id: payment8001
    prefer-ip-address: true
    # 服务的收到最后一次心跳等待时间上限 单位秒 默认90
    lease-expiration-duration-in-seconds: 2
    # 客户端向服务端发送心跳间隔，单位秒 默认 30
    lease-renewal-interval-in-seconds: 1