server:
  port: 7001

eureka:
  instance:
    hostname: eureka7001.com
  client:
    register-with-eureka: false # 不向注册中心注册自己
    fetch-registry: false # 自己就是注册中心，不需要检索服务
    service-url:
      # defaultZone: http://${eureka.instance.hostname}:${server.port} #设置与eureka server交互的地址查询服务和注册服务都需要依赖这个地址
      defaultZone: http://eureka7002.com:7002/eureka/    #设置与eureka server交互的地址查询服务和注册服务都需要依赖这个地址
  server:
    enable-self-preservation: false # 关闭自我保护
    eviction-interval-timer-in-ms: 2000 # 心跳间隔 单位 毫秒